/*表格控制*/
.s_grid label{
    padding-left:0 !important;
}
.s_grid a{
    cursor: pointer
}
.s_grid table{
    width: 100%;
    margin-bottom: 0;
    font-size: 13px;
    font-family:'Open Sans';
}


/*表格标题*/
.s_grid .s_grid_title{
    background-color: rgb(242, 242, 242);
    padding: 5px;
    line-height: 20px;
    font-family: Arial, "微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
}
.s_grid .s_grid_title i:last-child{
    float:right;
    padding:3px;
    cursor:pointer;
    color:#BDB4B4
}
.s_grid .s_grid_title i:last-child:hover{
    color:#2898e0;
}

/*操作栏*/
.s_grid_toolbar{
    border-bottom:#DDDDDD 1px solid;
    overflow: hidden;
}
.s_grid_toolbar ul{
    list-style: none;
    float: left;
    margin: 10px 0;
    padding:0;
}
.s_grid_toolbar ul li.first {
    border-left:0;
}
.s_grid_toolbar ul li{
    float: left;
    font-size: 14px;
    line-height: 12px;
    border-left: 1px solid #c9c9c9;
    padding: 0 10px;
    font-family: Arial, "微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
}
.s_grid_toolbar ul li a{
    padding: 3px 5px;
}
.s_grid_toolbar ul li a:hover {
    background-color: #2898e0!important;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
}



/*表格标题排序样式*/
.s_grid table tr:first-child i{
    /*font-family: Arial, "微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
    font-weight: bold;*/
    color:#307ECC;
    cursor:pointer
}

.s_grid table tr td:hover{
    color:#307ECC;
    cursor:pointer
}
.s_grid table tr td{
    border-bottom: 1px solid #ddd;
}

/*空行不显示边框*/
.s_grid table .emptyRow{
    height:38px;
}
.s_grid .emptyRow:hover td{
    background: transparent;
}

/* 导航栏定位处理 */
.s_grid_content{
    position: relative;
    margin-bottom: 40px;
}

/*分页样式*/
.s_grid_pagination{
    position: absolute;
    bottom: -39px;
    left: 0;
    border-bottom:#DDDDDD 1px solid;
    border-top:#DDDDDD 1px solid;
    background-color: #fff;
    padding: 5px;
    height: 40px;
    line-height: 30px;
    width:100%;
}
.s_grid_pagination a{
    border-radius: 1.0833em;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    text-align: center;
    opacity: .7;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    float:left;
    margin-left:3px;
    color:#ccc;
}
.s_grid_pagination a:hover,.s_grid_pagination a.curPage{
    border-color: #428BCA;
    color:#428BCA;
}
.s_grid_pagination span{
    float: right;
    padding: 0 5px;
}
.s_grid_pagination span.curPage{
    float: left;
}
.s_grid_pagination span.curPage input{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
}