.cs_cropper_picker{
	display: inline-block;
}
/* webuploader css start */
.cs_cropper_picker .webuploader-pick{
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.cs_cropper_picker .webuploader-pick-hover {
	background-color: #2898e0;
	color: #fff;
	text-decoration: none;
}
/* webuploader css end */
.cs_cropper_wrap{
	width: 720px;
}
.cs_cropper_toolbar{
	/*margin-bottom: 5px;*/
}
.cs_cropper_view{
	width: 480px;
	height: 360px;
	margin-right: 240px;
	/*border: 1px solid #eef;*/
}
.cs_cropper_preview{
	float: right;
	width: 240px;
	height: 360px;
}
.cs_cropper_preview_md{
	width: 200px;
	/*height: 90px;*/
	overflow: hidden;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 3px;
}
/*
.cs_cropper_preview_sm{
	width: 90px;
	height: 45px;
	overflow: hidden;
	margin: 0 auto;
}
*/
.cs_cropper_preview_txt{
	padding: 40px 0 0 20px;
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	font-family: '微软雅黑';
}