input,body,ul,li{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
.csInput{
    position: relative;
}
.inputSelect{
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid #ccc;
    background: url("../images/selectIcon.png") no-repeat right center;
}
.inputContent{
    position : absolute;
    overflow-x : hidden;
    padding: 6px;
    max-width: 100%;
}
.inputContent a{
    padding: 0 3px;
    margin-right: 2px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: #eee;
    color : #333;
    cursor: default;
}
.inputContent a:hover span{
    cursor: pointer;
}
.inputContent a span{
    margin-left: 2px;
}
.inputPanel{
    display : none;
    position : absolute;
    z-index : 1;
    overflow-x : hidden;
    background-color : #ffffff;
    border : 1px solid #ccc;
    font-size: 13px;
    padding-top: 2px;
    margin-top: -2px;
}
.panelSearch{
    display : block;
    height: 22px;
    margin : 2px auto;
    border : 1px solid #ccc;
}
.panelData > ul ul{
    display: none;
}
.panelData .top > ul{
    display: block;
}

.inputPanel .item, .inputPanel .node{
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}

.inputPanel a:hover{
    background-color: #eee;
}

.inputPanel .text, .inputPanel .pic{
    display: inline-block;
    vertical-align: middle;
}

.inputPanel input[type="checkbox"], .inputPanel .pic{
    vertical-align: middle;
    margin: 0 5px;
    margin-left: 10px;
    height: 16px;
    width: 16px;
}

.inputPanel .pic{
    background: url("../images/icons.png") no-repeat -39px 0;
}

.inputPanel .node > .pic{
    background: url("../images/icons.png") no-repeat 0 0;
}
.inputPanel .node.open > .pic{
    background: url("../images/icons.png") no-repeat -19px 0;
}


