.typeahead{position: relative;}
.typeahead-suggest{position:absolute;z-index:10;display:none;padding:0;width: 100%;max-height:240px;overflow-y:auto;margin:0 auto;background-color: #ffffff;border: 1px solid #dddddd;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.typeahead-suggest a,.typeahead-suggest p{display:block;color:#707070;height: 24px;line-height: 24px;font-size: 13px;text-align: left;padding: 0;margin: 0;}
.typeahead-suggest p{background-color: #f3f3f3;}
.typeahead-suggest a .match{color:#b1994a;font-style: normal;font-weight: normal; }
.typeahead-suggest a span,.typeahead-suggest p span{ display: inline-block;text-indent: 10px;}
.typeahead-suggest a:hover,.typeahead-suggest a.cur{background-color: #cccccc;color: #ffffff;text-decoration: none;}