/*boostrap样式覆盖*/
/*表单相关*/
label{
    font-weight:normal !important
}
.form-group {
    margin-bottom: 8px !important;
}
.col-md-8{
    padding-left: 0px !important;
}
.col-sm-10{
    padding-left: 0px !important;
}
.form-control{
    height: 30px;
    padding: 3px 10px;
    font-size:13px;
}
/*end*/

/*文本框后的图标样式*/
.form-group .select i {
    position: absolute;
    width: 24px;
    display: block;
    height: 24px;
    line-height: 26px;
    top: 3px;
    right: 18px;
    cursor: pointer;
    text-align: center;
    color: #888;
    border-left: 1px solid #888;
}

/*注意事项区块样式*/
.attention_content{
    display: block;
    background: #f6f6f6;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    font-family: Arial,"微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2em;
}

/*侧边栏相关*/
.cs-slidebar-left{
    position: absolute;
    height: 100%;
    width:18px;
    left: 0;
    top: 0
}
.cs-slidebar-left:hover{
    background-color: #E9E9E9;
    cursor: pointer;
}
.cs-slidebar-close{
    color: #428BCA;
    top: 50%
}