/*boostrap样式覆盖*/
/*表单相关*/
label{
    font-weight:normal !important
}
.form-group {
    margin-bottom: 8px !important;
}
/* .col-md-8{
    padding-left: 0px !important;
} */
.col-sm-10{
    padding-left: 0px !important;
}
.form-control{
    height: 30px;
    padding: 3px 10px;
    font-size:13px;
}
/*end*/

/*文本框后的图标样式*/
.form-group .select i {
    position: absolute;
    width: 24px;
    display: block;
    height: 24px;
    line-height: 26px;
    top: 3px;
    right: 18px;
    cursor: pointer;
    text-align: center;
    color: #888;
    border-left: 1px solid #888;
}

/*注意事项区块样式*/
.attention_content{
    display: block;
    background: #f6f6f6;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    font-family: Arial,"微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2em;
}

/*侧边栏相关*/
.cs-slidebar-left{
    position: fixed;
    height: 100%;
    width: 18px;
    margin-left: -20px;
    top: 0;
}
.cs-slidebar-left:hover{
    background-color: #E9E9E9;
    cursor: pointer;
}
.cs-slidebar-close{
    color: #428BCA;
    top: 50%
}

/*附件上传*/
.cs-upload{
    border: 1px #DDD solid;
}

.cs-upload table td i:hover{
    color: #2898e0;
    cursor: pointer;
}
.cs-upload-toobar ul{
    list-style: none;
    float: left;
    margin: 10px 0;
    padding: 0;
}
.cs-upload-toobar ul li.first
{
    border-left:0;
    padding-left: 5px;
}
.cs-upload-toobar ul li{
    float: left;
    font-size: 14px;
    line-height: 15px;
    border-left: 1px solid #c9c9c9;
    margin-left: 15px;
    padding-left: 15px;
    font-family: Arial, "微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
}
.cs-upload-toobar ul li a{
    padding: 5px;
    display: inline-block;
    margin: -5px 0;
    border-radius: 5px;
}
.cs-upload-toobar ul li a:hover {
    background-color: #2898e0!important;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.cs-upload-status{
    padding: 5px;
    color: #d9534f;
}

/*简单附件上传*/
.cs-sUpload .fa{
    position: absolute;
    top: 10px;
}
.cs-sUpload .fa:hover{
    color: #2898e0;
    cursor: pointer;
}
.cs-sUpload .fa-cloud-upload{
    right: 26px;
}
.cs-sUpload .fa-upload{
    right: 26px;
    display: none;
}
.cs-sUpload .fa-times{
    right: 45px;
    display: none;
}

/*修改样式，解决高宽1px无法点击上传按钮的问题*/
.webuploader-pick +div{
    width: 100%!important;
    height: 100%!important;
}